.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1;
  outline: none!important;
  appearance: none;
  height: fit-content;
  cursor: pointer;
  border-radius:50px;
  transition: $transition;
  &.btn{
    &-block {
      justify-content: center;
      width: 100%;
    }
    
    &-primary {
      background-color: $primary-color;
    }
    &-default {
      background-color: #FFF;
      border: .55px solid #e5e5e5;
      color: #666;
    }
    &-secondary {
      background-color: $secondary-color;
    }
    &-dark {
      background-color: $dark-color;
    }
    &-link {
      color: $secondary-color;
      &:hover {
        text-decoration-line: underline;
      }
    }
    &-outline {
      color: $primary-color;
      border: 2px solid;
    }
    &-small{
      font-size: 12px!important;
      padding: 6px 12px!important;
    }
    &-large{
      padding: 15px 30px!important;
    }
  }

  &:hover {
    opacity: .85;
  }
  
  &:active {
    opacity: .75;
  }
  
  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
}